<form action='/posts/update' method='post' id='updateForm'>
  <input type='hidden' name='postId' id='postId' value='{{data.post.postId}}' />
  <h2 class='updatePossibleData'>{{data.post.title}}</h2>
  <input
    class='updateData'
    style='display: none;'
    type='text'
    name='title'
    value='{{data.post.title}}'
    placeholder='{{data.post.title}}'
  />

  <div style='display: flex; flex-direction: row; gap: 10px;'>
    <p>작성자 : {{data.post.author}}</p>
    <p>작성일 : {{dateString data.post.createdAt}}</p>
    <p>수정일 : {{dateString data.post.modifiedAt}}</p>
  </div>

  <div>
    <pre class='updatePossibleData'>
        {{data.post.content}}
    </pre>
    <textarea
      class='updateData'
      style='display: none;'
      name='content'
      placeholder='{{data.post.content}}'
    >{{data.post.content}}</textarea>
  </div>

  <div style='display: flex; flex-direction: row; gap: 20px;'>
    <a href='/posts'>목록으로</a>
    <button
      id='changeUpdateModeButton'
      style='background-color: gray; color: black; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;'
    >수정</button>
    <button
      type='submit'
      id='realUpdateButton'
      style='display: none; background-color: yellow; color: black; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;'
    >수정</button>

    <button
      id='realDeleteButton'
      style='background-color: red; color: black; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;'
    >
      삭제
    </button>
    <button
      id='cancelUpdateButton'
      style='display: none; background-color: white; color: black; padding: 10px 20px; border: 1px solid black; border-radius: 5px; cursor: pointer;'
    >
      취소
    </button>
  </div>
</form>

<table>
  <thead>
    <tr>
      <th>댓글</th>
      <th>닉네임</th>
      <th>작성일자</th>
      <th>수정일자</th>
      <th style='col-span: 1;'></th>
    </tr>
  </thead>
  <tbody id='commentList'>
    {{#each data.comments}}
      <tr>
        <td>{{this.content}}</td>
        <td>{{this.nickName}}</td>
        <td>{{dateString this.createdAt}}</td>
        <td>{{dateString this.modifiedAt}}</td>
        <td><button
            onclick='deleteComment({{this.commentId}})'
          >삭제</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div>
  <form action='/comments' method='post' id='commentForm'>
    <input type='hidden' name='postId' value='{{data.post.postId}}' />
    닉네임 :
    <input type='text' name='nickName' placeholder='닉네임을 입력해주세요.' />
    <textarea
      type='text'
      name='content'
      placeholder='댓글을 입력해주세요.'
    ></textarea>
    <button type='submit'>댓글 작성</button>
  </form>
</div>

<script src='/detail.js'></script>